body{
    background-image: url(bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 80px;
}
input, textarea{
    outline: none;
    font-size: xx-large;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 10px;
}
button{
    font-size: x-large;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}